


<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <%user = @potin.user.id%>
    <div class="card-header">Auteur : <%=User.find(user).first_name %> <%=link_to "Details",controller:"users", action: "show", id: user%></div>
    <div class="card-body">
    
    <h1 class="card-text" class="text-align: center"><%=@potin.title%></h1>
    <h5 class="card-title">Content :<%=@potin.content%></h5>  
    <%city = User.find(user).city_id%>
    <p class="card-text"> City : <%=City.find(city).name%> <a href="/gossips/<%=@potin.id%>" class= "btn btn-danger" data-confirm= "Voulez-vous vraiment supprimer", data-method="DELETE">Supprimer potin</a></p>      
    <span class="btn btn-success"><%= link_to "Back" , controller:"gossips", action:"index"%></span>
    <span class="btn btn-success"><%= link_to "Modifier", controller: "gossips" , action: "edit", id: @potin.id%></span>
      <%= link_to "Commenter", controller: "comments", action: "new"%>
    

  </div>
</div>

